<div class="row">
    
        <ul>
            <li class="m-4">
                <h3>Dashboard</h3>
            </li>
            <hr>
            <li class="">
                <h5>{{useremail}}</h5>
            </li>
            <hr>
            <li class="m-4">
                <a routerLink="findrecipe">Find new Recipe</a>
            </li>
            <hr>
            <li class="m-4">
                <a routerLink="uploadrecipe">Upload Recipe</a>
            </li>
            <hr>
            <li class="m-4">
                <a routerLink="myrecipelist">My Recipes</a>
            </li>
            <hr>
            <li class="m-4">
                <a routerLink="allrecipes">All Recipes</a>
            </li>
            <hr>
            <li class="m-4">
                <button (click)="logout()">Log out</button>
            </li>
        </ul>
    
</div>


