<div class="container">
    <div class="row">
        <h3>Upload Your Recipe</h3>
    </div>
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
        <div class="row mt-2 mb-2">
            <div class="col-lg-6">
                <label>Recipe name</label>
                <input type="text" class="form-control" formControlName="recipe"/>
            </div>
        </div>
        <div class="row">
            <div class="row mt-2 mb-2">
                <div class="col-lg-6">
                    <label>Ingredients</label>
                    <div formArrayName="ingredients">
                        <div *ngFor="let ingredient of ingredients.controls; index as i ">
                            <input [formControlName]="i" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <button (click)="addIngredient()" class="btn btn-secondary">Add Ingredient</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="row mt-2 mb-2">
                <div class="col-lg-10">
                    <label>Steps</label>
                    <div formArrayName="steps">
                        <div *ngFor="let step of steps.controls; index as i ">
                            <input [formControlName]="i" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <button (click)="addStep()" class="btn btn-secondary">Add Step</button>
                </div>
            </div>
        </div>

        <div class="row mt-2 mb-2">
            <div class="col-lg-10">
                <label>Url of the image</label>
                <input type="url" formControlName="image" class="form-control" />
            </div>
        </div>

        <div class="row mt-2 mb-2">
            <div class="col-lg-2">
                <input type="submit" value="submit" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
